@{
    ViewBag.Title = "Home";
}

<h2>Invoices</h2>

<div>
    @Html.ActionLink("Create Invoice", "Create", "CONTROLLER");

    <input name="filterBox" value="Type Invoice Number Here"/>

</div>

@*List of Layout*@
<div style="width: 15%; min-height: 100%; float: left;">
    <select id="list" multiple="multiple">
        @foreach (var l in Model.layoutModel)
        {
            <option layoutid="@l.Id">@l.Name</option>
            //add the view modify/delete link here
        }
    </select>
</div>

