@{
    ViewBag.Title = "ModifyDelete";
}

<h2>Modify/Delete Invoices</h2>

<div>
    Invoice number
</div>

<div>
    SHOW INVOICE
</div>

<div>
    <input type="submit" name="delete" value="Delete"/>
    <input type="update" name="update" value="Update" />
</div>
