@{
    ViewBag.Title = "View";
}

<h2>View Invoice</h2>

<div>
 Number of the invoice
</div>

<div>
    LAYOUT
</div>

<div>
    <input type="submit" name="delete" value="Delete"/>
    <input type="submit" name="update" value="Update"
</div>
