@model BizConnect.Data.Entities.Layout

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Layout</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Disabled</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Disabled)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LayoutId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
