@{
    ViewBag.Title = "Home";
}

<h2>Layout</h2>

<div>
    <input name="filterBox" title="Type Name"/>
    
    @Html.ActionLink("Create Layout", "Create", "Layout");

@*    for each all existent layout
    get their names
    add the view, modify, delete link*@

</div>
