@{
    ViewBag.Title = "ModifyDelete";
}

<h2>Modify/Delete Layout</h2>

<div>
    Name of layout
</div>

<div>
    TOOLBOX
</div>

<div>
    LAYOUT
</div>

<div>
    <input type="submit" name="delete" value="Delete"/>
    <input type="submit" name="update" value="Update"/>
</div>
