@{
    ViewBag.Title = "View";
}

<h2>View Layout</h2>

SHOW THE NAME OF THE LAYOUT

<div>
    SHOW THE LAYOUT
</div>

<input type="submit" name="delete" value="Delete"/>
<input type="submit" name="update" value="Update" />
