@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

    <div>
        @Html.ActionLink("Fill Invoice", "Create", "Invoice")<br />
        @Html.ActionLink("View Invoice", "Index", "Invoice")<br />
    </div>

