<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Default Form</title>
</head>
<body id="main_body">
    <div id="form_container">
        <h1>
            <a>Default Form</a></h1>
        <form method="post" action="">
        <div class="form_description">
            <h2>
                Default Form</h2>
        </div>
        <ul>
            <li id="li_6">
                <label class="description" for="element_6">
                    Name
                </label>
                <div>
                    <input id="element_6" name="element_6" class="element text medium" type="text" maxlength="255"
                        value="" />
                </div>
            </li>
            <li id="li_1">
                <label class="description" for="element_1">
                    Address
                </label>
                <div>
                    <input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255"
                        value="" />
                </div>
            </li>
            <li id="li_7">
                <label class="description" for="element_7">
                    Payment Status
                </label>
                <div>
                    <select class="element select medium" id="element_7" name="element_7">
                        <option value="" selected="selected"></option>
                        <option value="1">Payed</option>
                        <option value="2">Unpayed</option>
                    </select>
                </div>
            </li>
            <li id="li_2">
                <label class="description" for="element_2">
                    Phone Number
                </label>
                <div>
                    <input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255"
                        value="" />
                </div>
            </li>
            <li id="li_3">
                <label class="description" for="element_3">
                    Cell
                </label>
                <div>
                    <input id="element_3" name="element_3" class="element text medium" type="text" maxlength="255"
                        value="" />
                </div>
            </li>
            <li id="li_4">
                <label class="description" for="element_4">
                    Email
                </label>
                <div>
                    <input id="element_4" name="element_4" class="element text medium" type="text" maxlength="255"
                        value="" />
                </div>
            </li>
            <li id="li_5">
                <label class="description" for="element_5">
                    Birthday
                </label>
                <span>
                    <input id="element_5_1" name="element_5_1" class="element text" size="2" maxlength="2"
                        value="" type="text">
                    /
                    <label for="element_5_1">
                        MM</label>
                </span><span>
                    <input id="element_5_2" name="element_5_2" class="element text" size="2" maxlength="2"
                        value="" type="text">
                    /
                    <label for="element_5_2">
                        DD</label>
                </span><span>
                    <input id="element_5_3" name="element_5_3" class="element text" size="4" maxlength="4"
                        value="" type="text">
                    <label for="element_5_3">
                        YYYY</label>
                </span></li>
            <li class="buttons">
                <input type="hidden" name="form_id" value="353783" />
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
            </li>
        </ul>
        </form>
    </div>
</body>
</html>
