<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Server.Data">
        <endpoint contract="Server.RetrieveData" binding="netTcpBinding" address="http://localhost:1871/"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>

